@if (User.Identity.IsAuthenticated)
{
    <a ui-sref="newBook" class="btn-primary btn-lg nodecoration">Add New Book</a>
}
else
{
    <a class="btn btn-primary btn-lg nodecoration" asp-controller="Account" asp-action="Login">Add New Book</a>
}
<table class="table booktable">
    <tr>
        <td colspan="3"><h3>All Books</h3></td>
    </tr>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
    </tr>
    <tr ng-repeat="book in books">
        <td>{{book.Id}}</td>
        <td>{{book.Title}}</td>
        <td>{{book.AuthorName}}</td>
        <td>
            <a class="btn btn-info" ui-sref="viewBook({id:book.Id})">View</a>
            @if (User.Identity.IsAuthenticated)
            {
            <a class="btn btn-primary" ui-sref="editBook({id:book.Id})">Edit</a>
            <a class="btn btn-danger" ng-click="deleteBook(book)">Delete</a>
            }
            else
            {
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Edit</a>
            <a class="btn btn-danger" asp-controller="Account" asp-action="Login">Delete</a>
            }
        </td>
    </tr>
</table>
