@{
    ViewData["Title"] = "CRUD API";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="container" data-ng-app="bookApp" data-ng-controller="BookListController">
    <div class="row top-buffer">
        <div class="col-xs-3 well">
            <ul class="nav nav-list">
                <li class="nav-header">Available Operations</li>
                <li><a href="/api/books" target="_blank">GET api/Books</a></li>
                <li class="divider"></li>
                <li><a href="/api/books/1" target="_blank">POST api/Books</a></li>
                <li class="divider"></li>
                <li><a href="/api/books/1" target="_blank">PUT api/Books/{Id}</a></li>
                <li class="divider"></li>
                <li><a href="/api/books/1" target="_blank">DELETE api/Books/{Id}</a></li>
                <li class="divider"></li>
                <li><a href="/api/authors" target="_blank">GET api/Authors</a></li>
                <li class="divider"></li>
                <li><a href="/api/authors/1" target="_blank">POST api/Authors</a></li>
                <li class="divider"></li>
                <li><a href="/api/authors/1" target="_blank">PUT api/Authors/{Id}</a></li>
                <li class="divider"></li>
                <li><a href="/api/authors/1" target="_blank">DELETE api/Authors/{Id}</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div data-ui-view></div>
        </div>
    </div>
</div>